.number-number {
  position: relative;
  background-color: #ffffff;
}
.number-root-class-name {
  background-color: #E8E6DA;
}
.number-root-class-name1 {
  background-color: #D0DFA6;
}
.number-root-class-name2 {
  background-color: #79D490;
}
